$mainColor: #0F1F36; //主题色
$sub: #41B883; //辅色1
$sub2: #004a67; //辅色2
$sub3: #dbba34; //辅色3
$sub4: #00aa8b; //辅色4
$borderColor: $sub;
$hoverColor: $sub3; //焦点颜色
$hovertext: #fff;
$focus: #00aa8b; //焦点颜色2
$focustext: #fff;
$footerBgColor: #0f367a; //footer背景色
$sysColor: #3980EA;
$partyColor: #c9151e;
$partySub: #e7543f;