@use "base";

$mainColor: #1859b5; //主题色
$sub: #1273c4; //辅色1
$sub2: #dec36d; //辅色2
$sub3: #b5363b; //辅色3
$sub4: #0f367a; //辅色4
$hoverColor: #1859b5; //焦点颜色
$focus: #e4874a; //焦点颜色2
$footerBgColor: #0f367a; //footer背景色
$sysColor: #3980EA;
$partyColor: #c9151e;
$partySub: #e7543f;

/*全局mixin*/
@mixin textEllipsis($line-height: 20, $number: 2, $height: $line-height * $number) {
  $line-height: $line-height / 100 + rem;
  $height: $height / 100 + rem;
  line-height: $line-height;
  max-height: $height;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

input{
  border: 1px solid #000;
}

.testmain {
  margin: 20px;
  font-size: 0.16rem;
  padding: 20px;
  min-height: 400px;
  border-radius: 20px;
  border: 1px solid #000;
}